@{
	ViewData["Title"] = "Inicio";
}

@section Styles {
	<link rel="stylesheet" href="~/css/section/home.css">
}

<section class="hero">
	<div class="profile-card dark">
		<div class="profile-image">
			<img  src="~/files/me.jpg" alt="Mi foto" />
		</div>
		<div class="profile-info">
			<h1>Hola!👋 Bienvenido a mi porfolio.</h1>
			<p>
				Me llamo Guillermo Sánchez, tengo mas de 3 años de experiencia en desarrollo de aplicaciones web con .NET. Estoy centrado en el backend, aunque todo lo que ves aqui lo he hecho yo.
				<br />
				Además de .NET, domino las bases de datos relacionales tanto a nivel de diseño como a nivel de manejo.
				Estuve en la universidad haciendo ingeniería de software pero no la finalicé. 
				Después de una experiencia a través de una beca, me gradué en el CFGS de Desarrollo de aplicaciones multiplataforma.
				<br /><br />
			</p>
			<p class="text-end">Navega por la web para conocer más. 😊</p>
		</div>
	</div>
</section>
