<style>
	.carousel-control-prev-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
	}

	.carousel-control-next-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
	}

	.carousel-inner img {
		max-height: 250px;
		object-fit: contain;
	}
</style>

<div class="card p-3">
	<h5 class="card-title text-center">Soft skills</h5>

	<div id="carouselExample" class="carousel slide">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcGg0M3g3MDh0aXQzNTAzODJseXlteHN1Z3poOGwwdWQ0ZWdhMjBiMCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/wlnicjV6gPKodha404/giphy.gif"
					 class="img-fluid mx-auto d-block border rounded-2" alt="...">
			</div>
			<div class="carousel-item">
				<img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjJnbXNiZGg0M2dhbzV0cnVnbWppMGU5NHM0c2VmdGdwZHBnc2xnZiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/qrHBsKJll7WtGp7Ixo/giphy.gif"
					 class="img-fluid mx-auto d-block border rounded-2" alt="very professional">
			</div>
			<div class="carousel-item">
				<img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWJ6OTU0c2dnbWwzOXI5enN2ZGxoczlvMmllbzNhNnlkMzhjbzRycCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/3ohs4Az5xSJj0RYrss/giphy.gif"
					 class="img-fluid mx-auto d-block border rounded-2" alt="team work">
			</div>
			<div class="carousel-item">
				<img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcGw3NzJyMWwzcGlmc3NyMGxpbGxwazd1ZTVwb3dibjExN2N5NHU0MSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/77SC3ZfGYSkAyvSaKa/giphy.gif"
					 class="img-fluid mx-auto d-block border rounded-2" alt="team work">
			</div>
			<div class="carousel-item">
				<img src="https://media.giphy.com/media/1pknsEKbhfqAUfRPii/giphy.gif?cid=ecf05e47h37c6nelppaz128umuf4afdddxldqmn8feebv0yb&ep=v1_gifs_search&rid=giphy.gif&ct=g"
					 class="img-fluid mx-auto d-block border rounded-2" alt="team work">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon text-black" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>
