
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    /* height: calc(100vh - 80px); */
    box-sizing: border-box;
}

.profile-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: linear-gradient(135deg, #a18aff, #5632d5);
    color: white;
    border-radius: 20px;
    overflow: hidden;
    max-width: 1000px;
    width: 100%;
    min-height: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.profile-image {
    padding: 1rem;
    /* background-color: #2b2b2b; */
    display: flex;
    align-items: center;
    justify-content: center;
}

    .profile-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 55% 30%;
        border-radius: 12px;
    }


.profile-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .profile-info h1 {
        margin-bottom: 1rem;
        font-size: 2.2rem;
        /*font-family: 'Special Elite', cursive;*/
    }

    .profile-info p {
        margin-bottom: 1.5rem;
        font-size: 1rem;
        line-height: 1.6;
    }

@media (max-width: 768px) {
    .profile-image {
        display: none;
    }

    .profile-card {
        grid-template-columns: 1fr; /* Una sola columna */
    }

    .profile-info {
        padding: 2rem; /* Asegúrate de que el contenido tenga suficiente espacio */
    }
}
